0.0.0.0:80

root /var/www
gzip
browse

# log /var/log/caddy/access.log
# errors /var/log/caddy/error.log
log stdout
errors stdout

# Uncomment to enable TLS (HTTPS)
# Change the first list to listen on port 443 when enabling TLS
#tls self_signed

# To use Lets encrpt tls with a DNS provider uncomment these
# lines and change the provider as required
#tls {
#  dns cloudflare
#}

# To handle .html extensions with laravel change ext to
# ext / .html
# ext .json